[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"

[dev-packages]
mypy = "*"
numpy = "< 2.0.0"
pytest = "*"
pytest-benchmark = "*"
pytest-cov = "*"
ruff = "*"
shanten-tools = "*"

[requires]
python_version = "3.12"

[scripts]
test = "python -m pytest --benchmark-skip"
benchmark = "python -m pytest --benchmark-only --benchmark-json output.json"
lint = "python -m ruff check"
format = "python -m ruff format --diff"
typecheck = "python -m mypy ."
generate-distance-tables = "python -m scripts.generate_distance_tables"
