name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

permissions:
  deployments: write
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version-file: .python-version
          cache: 'pipenv'

      - name: Install pipenv
        run: |
          python -m pip install --upgrade pip
          python -m pip install pipenv

      - name: Install dependencies
        run: python -m pipenv install --dev

      - name: Run test with coverage
        run: pipenv run python -m pytest --junitxml=pytest.xml --cov-report=term-missing:skip-covered --cov=app --benchmark-skip tests/ | tee pytest-coverage.txt

      - name: Comment Coverage
        uses: MishaKav/pytest-coverage-comment@main
        with:
            pytest-coverage-path: pytest-coverage.txt
            junitxml-path: ./pytest.xml

      - name: Run benchmark
        run: python -m pipenv run benchmark

      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          tool: 'pytest'
          output-file-path: output.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true

      - name: Run typecheck
        run: python -m pipenv run typecheck

      - name: Run lint
        run: python -m pipenv run lint

      - name: Run format
        run: python -m pipenv run format
